@font-face {
    font-family: BM;
    src: url('../fonts/font.ttf');
}

.container{
    width: 1100px;
    margin: auto;
}

body{
    margin: 0px;
    background-color: rgb(10, 10, 10);
}

.nav p{
    font-family: BM;
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding-top: 30px;
}

.i{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
}

.nav{
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./../imgs/mono.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    margin-top: 5%; 
    filter: blur(3px);
    opacity: 95%; 
}

.head{
    align-items: center;
    margin-top: 28%;
}

h1{
    color: rgba(202, 202, 202, 0.719);
    font-family: BM;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    filter: blur(2px);
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-bottom: 10px solid rgba(202, 202, 202, 0.719);
    padding-bottom: 2%;
    filter: blur(2px);
    margin-top: 1.5%;
}



.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./imgs/BM-cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.cover p{
    color: rgb(177, 26, 26);
    font-size: 15px;
    font-weight: bold;
    font-family: BM;
    padding-bottom: 35%;
    padding-top: 2%;
}

.body{
    margin-bottom: 6%;
}


.card-title{
    text-align: center;
    padding-top: 35%;
    font-family: BM;
    font-weight: bold;
    font-size: 12px;
    color: rgba(172, 172, 172, 0.719);
    padding-bottom: 3%;
    border-bottom: 5PX solid rgba(172, 172, 172, 0.719);
}

.Q,.T{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: BM;
    font-size: 19PX;
    font-weight: 700;
    margin-top: 5%;
    filter: blur(1px);
}

.line3{
    width: 50% !important;
}

.line2, .line3,.line4{
    /* display: none; */
    width: 100%;
    background-color: transparent;
    /* border-bottom: 10px solid white; */
    padding-bottom: 2%;
    filter: blur(2px);
    margin-top: 1.5%;
    border-radius: 50%;
}


.T:hover .line4{
    background-color: white;
}

.Q:hover .line2{
    background-color: white;
    /* display: block; */

}


.T:hover .line3{
    background-color: white;
    font-size: 18PX;
    color: rgba(202, 202, 202, 1);
    
}



a{
    text-decoration: none;
    color: rgba(172, 172, 172, 0.719);
    padding: 0%;
}


a:hover{
    text-decoration: none;
    color: white;
}

@media(max-width: 600px){
    .cover p{
        padding-bottom: 100%;
    }
    .i{
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
    }
    .nav p{
        text-align: center;
        font-family: BM;
        font-size: 22px;
        font-weight: bold;
        color: white;
        padding-top: 30px;
    }
    
}